body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Staatliches', sans-serif;
}

h1 {
  color: #000000;

  font-family: Staatliches;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #000000;

  width: 417px;

  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}